<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First Page</title>
    @*Scripts*@
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/data_preset.js"></script>
    @*Styles*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/preset.css" />
    <link rel="stylesheet" href="~/css/about.css" />
    @*Fonts*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="logo" asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/synthLogo7.svg" alt="Logo" /></a>
        <nav>
            <ul class="nav_links">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Generator" asp-action="Preset">Generator</a></li>
                <li> <a asp-controller="Home" asp-action="About">About</a></li>
            </ul>
        </nav>
        <div class="toggle_btn" onclick="toggleMenuClick(this)">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="dropdown_menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Generator" asp-action="Preset">Generator</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
            </ul>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required:false)
</body>
</html>