@page

<section id="aboutpage_content">  
    <div class="aboutpage_container">
        <h3>About Synthdata mock dataset generator:</h3>

        <h2>How to use this mock data generator tool?</h2>

        <ol type="1">
            <li>Select the field type based on your data need.</li>
            <li>Provide the field name. (For instance, if you selected field type [Name], you can enter the field name as [User_Name]).</li>
            <li>Add/Remove button: Add a column in mock dataset.</li>
            <li>Total Rows: Enter the total number of rows required in mock dataset.</li>
            <li>Format: Select the mock dataset output format, it can be JSON or CSV.</li>
            <li>Click Generate button for the download mock dataset</li>
        </ol>

        <h2>How to import this mock dataset to database?</h2>
        <p>
            You can easily import test data into any database, such as MySQL/MSSQL or others. Simply download the test data in CSV format and utilize a CSV importer to import it into your database.
        </p>
    </div>
</section>