@page

<section id="homepage_content">
    <h1>Generate realistic mock data for all your testing and development needs.</h1>
    <a asp-controller="Generator" asp-action="Preset" class="start_btn">Get Started</a>
</section>


