@page

<section id="presetpage_content">
    <div class="presetpage_container">
        <p>Mock Data Generator</p>
        <table id="configurationTable">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Field Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input name="fieldName" placeholder="Your field name" maxlength="50"></td>
                    <td>
                        <select name="fieldType"></select>
                    </td>
                    <td>
                        <button class="add_btn" onclick="addTableField(this)"><span>Add</span></button>
                    </td>
                </tr>
                <tr>
                    <td><input name="fieldName" placeholder="Your field name" maxlength="50"></td>
                    <td>
                        <select name="fieldType"></select>
                    </td>
                    <td>
                        <button class="add_btn" onclick="addTableField(this)"><span>Add</span></button>
                    </td>
                    <td>
                        <button class="remove_btn" onclick="removeTableField(this)"><span>Remove</span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="extraparamsTable">
            <thead>
                <tr>
                    <th>Total Rows</th>
                    <th>Output format</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input id="totalRows" type="number" pattern="[0-9]" placeholder="Maximum 1000 rows"></td>
                    <td>
                        <select id="fileFormat">
                            <option>Excel</option>
                            <option>JSON</option>
                            <option>CSV</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <button id="generate" class="generate_btn" onclick="requestDataGeneration()">Generate</button>
        </div>
    </div>
</section>
