section#homepage_content {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E5CBFF;
}

#homepage_content {
    font-size: 3rem;
    cursor: default;
}

#homepage_content h1 {
    padding: 20px;
}

.start_btn {
    background-color: #393340;
    color: #FFFFFF;
    padding: 1.5rem 2.5rem;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 55px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 80px;
    list-style: none;
    text-decoration: none;
}

.start_btn:hover {
    transform: scale(1.03);
}

.start_btn:active {
    transform: scale(0.95);
}

/*RESPONSIVE DESIGN*/

@media (max-width: 720px) {
    #homepage_content {
        font-size: 2rem;
    }
}

@media (max-width: 380px) {
    #homepage_content {
        font-size: 1.7rem;
    }
}

@media (max-width: 290px) {
    #homepage_content {
        font-size: 1.5rem;
    }

    .start_btn {
        padding: 1.1rem 2.1rem;
        font-size: 1.1rem;
    }
}
