section#presetpage_content {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presetpage_container {
    color: #E5CBFF;
   margin-top: 60px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 65px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    background-color: #1E1B1F;
    border-radius: 20px;
    width: 900px;
    z-index: 1;
}

.presetpage_container p {
    font-size: 1.4rem;
}

table th {
    text-align: start;
    padding: 2px;
    font-weight: 400;
    font-size: 1.12rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

table#configurationTable {
    padding-top: 50px;
}

table#extraparamsTable {
    padding-top: 20px;
}

input {
    border: none;
    padding: 12px;
    appearance: none;
    width: 300px;
    outline: none;
    background: #393340;
    color: #F5EBFF;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
}

input:focus {
    border: 2px solid #F5EBFF;
    transition-delay: 0.1s;
}

input:focus::placeholder {
    color: transparent;
}

select {
    border: none;
    padding: 12px;
    appearance: none;
    width: 300px;
    outline: none;
    background: #393340;
    color: #F5EBFF;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 2px;
    border-radius: 5px;
}

select:focus {
    border: 2px solid #F5EBFF;
    transition-delay: 0.1s;
}

select:focus::placeholder {
    color: transparent;
}

/*BUTTONS*/

.generate_btn {
    background-color: #393340;
    color: #FFFFFF;
    padding: 1.2rem 2rem;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 55px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

.generate_btn:hover {
    transform: scale(1.03);
}

.generate_btn:active {
    transform: scale(0.95);
}

.add_btn {
    background-color: #74B389;
    color: #393340;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2px;
}

.add_btn:hover {
    background-color: #85CC9B;
}

.add_btn:focus {
    background-color: #85CC9B;
}

.remove_btn {
    background-color: #B37674;
    color: #393340;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1px;
}

.remove_btn:focus {
    background-color: #CC8785;
}

.remove_btn:hover {
    background-color: #CC8785;
}

/*RESPOSIVE DESIGN*/

@media (max-width: 920px) {
    .presetpage_container {
        width: 800px;
        padding-right: 30px;
        padding-left: 30px;
    }

    input {
        width: 280px;
    }

    select {
        width: 280px;
    }
}

@media (max-width: 820px) {
    .presetpage_container {
        width: 700px;
        padding-right: 30px;
        padding-left: 30px;
    }

    input {
        width: 230px;
    }

    select {
        width: 230px;
    }
}

@media (max-width: 720px) {
    .presetpage_container {
        width: 600px;
 
    }
    input {
        width: 190px;
    }

    select {
        width: 190px;
    }
}

@media (max-width: 620px) {
    .presetpage_container {
        width: 500px;
    }

    input {
        width: 175px;
    }

    select {
        width: 175px;
    }

    .add_btn span {
        display: none;
    }

    .add_btn:after {
        content: '+';
    }

    .remove_btn span {
        display: none;
    }

    .remove_btn:after {
        content: '-';
    }

    input#totalRows {
        width: 218px;
    }

    select#fileFormat {
        width: 218px;
    }
}

@media (max-width: 520px) {
    .presetpage_container {
        width: 400px;
        padding-right: 15px;
        padding-left: 15px;
    }

    table th {
        font-size: 0.9rem;
    }

    input {
        width: 140px;
        font-size: 0.9rem;
    }

    select {
        width: 140px;
        font-size: 0.9rem;
    }

    .add_btn {
        font-size: 0.9rem;
    }

    .remove_btn {
        font-size: 0.9rem;
    }

    input#totalRows {
        width: 181px;
    }

    select#fileFormat {
        width: 181px;
    }
}

@media (max-width: 420px) {
    .presetpage_container {
        width: 340px;
    }

    table th {
        font-size: 0.74rem;
    }

    input {
        width: 112px;
        font-size: 0.74rem;
    }

    select {
        width: 112px;
        font-size: 0.74rem;
    }

    .add_btn {
        font-size: 0.74rem;
    }

    .remove_btn {
        font-size: 0.74rem;
    }

    input#totalRows {
        width: 152px;
    }

    select#fileFormat {
        width: 152px;
    }
}

@media (max-width: 320px) {
    /*.presetpage_container {
        width: 300px;
    }*/
}
