* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #110B13;
}

main {
    margin-top: 77px;
}

/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #393340;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1E1B1F;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #393340;
}

/*NAVBAR*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 8%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
        
.logo {
    margin-right: 10px;
    cursor: pointer;
    margin-right: auto;
    width: 80px;
    height: 75px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 14px;
    list-style: none;
    text-decoration: none;
}

.nav_links a {
    color: #E5CBFF;
    font-size: 1.35rem;
    font-weight: 300;
    transition: all 0.3s ease 0s;
    list-style: none;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #F5EBFF;
}

.toggle_btn {
    color: #E5CBFF;
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

.toggle_btn:hover {
    color: #F5EBFF;
}

/*DROPDOWN MENU*/

.dropdown_menu {
    display: none;
    position: absolute;
    top: 120px;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: invert(80%);
    border-radius: 15px;
    overflow: hidden;
    transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 485px;
}

.dropdown_menu li {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu button {
    width: 100%;
    height: 100%;
    color: #E5CBFF;
    font-size: 1.6rem;
    transition: all 0.5s ease 0s;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: invert(80%);
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdown_menu button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/*RESPONSIVE DESIGN*/
@media (max-width: 992px) {
    .nav_links {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        width: 80%;
    }
}


